@model Shop.BL.Tag.TagViewModal
@{
    ViewBag.Title = "Edit";
}

<h2>Редактирование и добавление</h2>

<form action="/tag/edit" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(x => x.ID)

    <div class="form-group">
        <label for="exampleInputEmail1">Продукт</label>
        @Html.TextBoxFor(i => i.Name, new { @class = "form-control", placeholder = "Название" })
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>
